:root {
    --select-border: #ea5933;
    --select-background: #ffefd5;
    --select-arrow: var(--select-border);
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    margin-left: 3.5rem;
  }

  .select {
    min-width: 400px;
    margin: 1rem;
  }

 

  

 
  

 




