

.modal__container {
  border: 1px solid #ccc;
  width: 45rem;
  min-width: 35rem;
  height: fit-content;
  min-height: 35rem;
  margin: auto;
  z-index: 10;
  position: absolute;
  top: 4%;
  left: 20%;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

form {
    margin-left: 2.4rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    position: relative;
    width: 30rem;
}

form > span {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem; 
}

form > input {
    height: 2.5rem;
    flex-grow: 1;
    font-size: 1rem;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 0.9rem;
    border: 1px solid #ea5933;
    border-radius: 0.4rem;
    background-color: #f1bfb1;
}

form > input::focus {
    border: 1px solid #ea5933; 
}

form > input::placeholder{
    padding-left: 1rem;
}

form > button {
    display: none;
}

.list__cancelButton {
    position: absolute;
    bottom: 1rem;
    right: 3%;
}

.table {
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  min-width: 30rem;
  margin: 1rem auto;
}

.table > thead > tr > th {
  border: 1px solid #ea5933;
  padding: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
  font-weight: bold;
}

.table > tbody > tr > td {
  border: 1px solid #ea5933;
  padding: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
}

.table > tbody > tr:nth-child(even) {
  background-color: #f1bfb1;
}

.table__date {
    cursor: pointer;
    position: relative; 
}

.table__date > div {
    position: absolute;
    z-index: 20;
    background-color: #fff;
    width: 8rem;
    height: fit-content;
    display: none;
}

.table__date > div > p {
    padding: 0.2rem;
}

.table__date > div > p:hover {
    background-color: #ea5933;
    color: #fff;
}

.table__date > div > p:first-child, .table__date > div > p:hover {
    cursor: default;
      color: #e6e6e6;
      letter-spacing: 0.3rem;
      background-color: #fff;
}

.table__date:hover > div {
    display: block;
    border-radius: 0.5rem;
    padding: 0 0 1rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}